.gameContainer {
  display: flex;
  /* margin: 1%; */
}

.gameContainerList {
  /* flex-grow: 2; */
  /* border-style: solid;
  border-color: green; */
  height:fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 350px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 99;
  justify-content: space-around;
}

.gameDetailsContainerList {
  /* flex-grow: 5; */
  /* border-style: solid; */
  /* border-color: orange; */
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(26, 26, 26);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black rgb(32, 35, 40);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(32, 35, 40);
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
  border: 3px solid rgb(32, 35, 40);
}

.gameItem {
  display: flex;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(28, 30, 39);
  background-color: rgb(37, 40, 47);
  margin: 5px;
  padding: 5px;
  height: auto;
  min-height: 20px;
  min-width: 170px;
  width: 300px;
  color: #ffffff;
  overflow: auto;
}

.gameItem:hover,
.gameItem:focus,
.gameItem:active {
  background-color: rgb(42, 48, 61);
}

.gameItemImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gameItemImg {
  height: 50px;
  border-radius: 50%;
}

.gameDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 100%;
  color: darkgray;
}

.gameTitle {
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.gameDetailsContainer {
  /* border-style: solid; */
  /* border-style: solid;
  border-color: red; */
  margin-left: 10px;
}

.gameDetailsContainer h1 {
  color: white;
}

.gameDetailsAchievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  color: darkgray;
  /* border-style: solid;
  border-color: red; */
}

.gameDetailsContainerHeader {
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: gray;
  border-radius: 5px;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: -10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  /* border-style: solid;
  border-color: white; */
  background-color: rgb(12, 12, 12);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: gray;
  border-style: solid;
  color: white;
}

.gameDetailsContainerBody {
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: auto; */
  max-height: 100vh;
}

.gameDetailsContainerAchievements {
  display: flex;
  width: 450px;
  min-width: 200px;
  min-height: 90px;
  border-radius: 5px;
}

.gameDetailsContainerAchievements:hover,
.gameDetailsContainerAchievements:focus,
.gameDetailsContainerAchievements:active {
  background-color: rgb(42, 48, 61);
}

.gameDetailsAchievementImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gameDetailsAchievementImg {
  height: 50px;
  border-radius: 5px;
}

.gameDetailsAchievement h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}