.gameContainer {
  display: flex;
  border-style: solid;
  /* margin: 1%; */
  gap: 10px;
}

.gameContainerList {
  /* flex-grow: 2; */
  border-style: solid;
  border-color: green;
  height: 100vh;
  overflow-y: auto;
  width: 500%;
}

.gameDetailsContainerList {
  flex-grow: 5;
  /* border-style: solid;
  border-color: orange; */
}

.gameItem {
  display: flex;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(28, 30, 39);
  background-color: rgb(37, 40, 47);
  margin: 5px;
  padding: 5px;
  height: auto;
  min-height: 20px;
  min-width: 170px;
  width: 300px;
  color: #ffffff;
  overflow: auto;
}

.gameItem:hover,
.gameItem:focus,
.gameItem:active {
  background-color: rgb(42, 48, 61);
}

.gameItemImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gameItemImg {
  height: 50px;
  border-radius: 50%;
}

.gameDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 100%;
  color: darkgray;
}

.gameTitle {
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.gameDetailsContainer {
  /* border-style: solid; */
  border-style: solid;
  border-color: red;
}

.gameDetailsContainer h1 {
  color: white;
}

.gameDetailsContainer > div {
  margin: 5px;
}

.gameDetailsAchievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  color: darkgray;
  /* border-style: solid;
  border-color: red; */
}

.gameDetailsAchievementContainer {
  display: flex;
  width: 500px;
  /* border-style: solid;
  border-color: red; */
}

.gameDetailsAchievementImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gameDetailsAchievementImg {
  height: 50px;
}

.gameDetailsAchievement h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.gameDetailsContainerAchievements {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}