body {
  background-color: rgb(51, 51, 51);
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.homeContainerItem {
  width: 200px;
  padding: 12px;
  border-radius: 8px;
}